* {
margin:0;
padding:0;
}


.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  color: black;
  border-bottom: 4px ghostwhite solid;
}

.logo {
  margin-left: 2rem;
}

.menu {
  margin-top: auto;
  margin-bottom: auto;
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-menu{
    text-decoration: none;
    color: black;
    font-size: large;
}

.body{
  background-color: #4097DB;
  min-height: 100vh;
}

.hero {
  height: 100vh;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-caption {
  width: 25%;
  color: white;
  /* back ground-color: #fff; */
  /* display: flex; */
  /* direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
}

.about{
  height: 70vh;
  background-color: #fff;
}

.about-menu{
  /* background-color: pink; */
  /* margin-top: 4rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-menu-item{
  margin-top: 4rem;
  width: 20%;
  display: grid;
  gap: 10px;
}

.about-menu-item h1{
  color: #4097DB;
}

.about-menu-item h3{
  font-size: medium;
  font-weight:600
}

/* .h1-blue{
  color: #4097DB;
} */

.counter{
  margin-top: 3rem;
}

.counter-item{
  display: flex;
}

.our-core{
  background-color: #CEE3F7;
  padding: 2rem;
}

p{
  color: #777777;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
